body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px 0; /* Increase padding for a taller header */
    text-align: center;
    width: 100%; /* Ensure the header spans the full width */
}

.header img {
    width: 150px; /* Increase the logo size */
}

.container {
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}